body {
    font-family: Arial;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
  }

.todo-container{
    background-color: #fff;
    border-radius: 10px;
    width: 400px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
    

}
.header {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  .input-container {
    display: flex;
    margin-top: 20px;
  }
  .input-container input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
  }
  .input-container button {
    padding: 10px 20px;
    border: none;
    background-color: rgb(0, 123, 255);
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  .tasks {
    margin-top: 20px;
  }

  .task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }

.completed .fa-square-check  {
    color: green;
}
.completed .task-name{
    text-decoration: line-through;
    color: green;
}

.fa-square-check{
    color:gray;
}
.fa-trash-can{
    color:red;
}
.clear{
    display: flex;
    justify-self: end;
    padding: 10px;
    background-color: #333333b0;
    max-width: fit-content;
    border-radius: 10px;
    color: white;
    cursor: pointer;

    
}
.clear span{
    margin-left: 10px;
}


